LOGGING_LEVEL="WARNING"
OPENAI_API_KEY=sk-proj-xxxxxxxx
USE_DUMMY=false
AIRFLOW_IMAGE_NAME=genai-airflow:latest
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AIRFLOW_CONN_AWS_DEFAULT=aws://test:test@?endpoint_url=http%3A%2F%2Fhost.docker.internal%3A4566&region_name=us-east-1
CHAT_HISTORY_DIR=app/data
